#telaPrincipal {
  color: rgb(255, 255, 255);
  background-color: #000000;
}

.games-section {
  box-shadow: 0 6px 8px rgb(187, 21, 21);
  margin: 15px;
  padding: 10px;
  width: 80%;
  height: 80%;
  border-radius: 30px;
}

.p1 {
  font-weight: bold;
}
